body{
  text-align: center;
}

.img{
  margin-top: 100px;
}

.input{
  width:400px;
}

.search{
  background-color: #EEEEEE;
}

.special{
  background-color: #27E1C1;
  float: left;
  padding-left: 200px;
  padding-right: 200px;
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 18px;
}

.help{
  background-color: #0EA293;
  float: left;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 25px;
  padding-top: 12px;
  margin-right: 5px;

}

.get{
  background-color: #159895;
  float: left;
  padding-left: 167px;
  padding-right: 167px;

}
